<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="eReview01.Entities.Properties.Settings.StockManagementConnectionString" connectionString="Data Source=.\sql2005;Initial Catalog=StockManagement;User ID=sa;Password=1" providerName="System.Data.SqlClient" />
    <add name="eReview01.Entities.Properties.Settings.tollcollectionv2ConnectionString" connectionString="server=192.168.6.201;user id=tc_user;password=tc_elc@2014;persistsecurityinfo=True;database=tollcollectionv2;port=3306" providerName="MySql.Data.MySqlClient" />
    <add name="eReview01.Entities.Properties.Settings.tollcollectionv2ConnectionString1" connectionString="server=192.168.6.201;user id=tc_user;persistsecurityinfo=True;database=tollcollectionv2" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>