<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  <appSettings>
  
    <add key="TimeAutoLoadDb" value="" />
    <add key="TimeRunSlideshow" value="" />
    <add key="ColorError0" value="" />
    <add key="ColorError1" value="" />
    <add key="ColorError2" value="" />
    <add key="ColorError3" value="" />
    <add key="ColorError4" value="" />
    <add key="ColorError5" value="" />
    <add key="ColorError6" value="" />		
    
  </appSettings>
   Các thông số cài đặt của phần mềm. Xem lai -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log4netLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="GS_GUI.Properties.Settings.quan_test" connectionString="Server=192.168.7.167;Database=quan_test;Port=3306;User ID=root;Password=admin" />
    <add name="GS_GUI.Properties.Settings.tollcollectionConnectionString" connectionString="server=192.168.6.201;user id=tc_user;persistsecurityinfo=True;database=tollcollection" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>