<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- How to set up secondary appender (bufferless) for Exceptions only? -->
  <!-- Log4Net Appender Settings-->
  <root>
    <level value="All" />
    <appender-ref ref="ADONetAppender" />
  </root>
  <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
    <encoding value="utf-8" />
    <bufferSize value="1" />
    <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"/>
    <connectionString value="server=localhost;port=3306;database=tollcollection;uid=tc_user;pwd=123456;CharSet=utf8;"/>
    <commandText value="INSERT INTO Log (Date,Thread,Level,Logger,Message,Exception,User,Action, EditMode, Hostname) VALUES (?log_date, ?thread, ?log_level, ?logger, ?message, ?exception, ?user, ?action, ?editmode, ?hostname)"/>
    <parameter>
      <parameterName value="log_date"/>
      <dbType value="DateTime"/>
      <layout type="log4net.Layout.RawTimeStampLayout"/>
    </parameter>
    <parameter>
      <parameterName value="thread"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%t"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="log_level"/>
      <dbType value="String"/>
      <size value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p"/>
      </layout>
    </parameter>
    
    <parameter>
      <parameterName value="logger"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%c"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="message"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="exception"/>
      <dbType value="String"/>
      <size value="2000"/>
      <layout type="log4net.Layout.ExceptionLayout"/>
    </parameter>
    <parameter>
      <parameterName value="user" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout" value="%property{user}"/>
    </parameter>
    <parameter>
      <parameterName value="action" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{action}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="editmode" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{editmode}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="hostname" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
  </appender>
</log4net>